<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME PAGE</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body style="background-color: <%= color %>">

  <form action="/color" method="POST">
    <select name="color">
      <option disabled selected value="">Elegi un color</option>
      <option value="rojo">Rojo</option>
      <option value="azul">Azul</option>
      <option value="verde">Verde</option>
      <option value="amarillo">Amarillo</option>
      <option value="rosa">Rosa</option>
    </select>
    <br>
    <label>Deseas recordar el color elegido?</label>
    <input type="checkbox" name="recordar">
    <br>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>